.accordion{
    margin-bottom: 20px;
}
.accordion input{
    display:none;
}

.accordion label{
    display: block;
    background: #8b5e3c;
    color: white;
    padding: 15px;
    border-radius: 6px;
}
.content{
    max-height: 0;
    transition:max-height .5s;
    background: white;
    padding: 0 15px;
    display: none;
}

.accordion input:checked + label + .content{
    max-height: 200px;
    padding: 15px;
    display: block;
}

section input[type="radio"]{
    display: none;
}
.tab-buttons{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.tab-buttons label{
    background: #ddd;
    padding: 10px 20px;
    cursor: pointer;
}
.panel{
    display: none;
    background: #fff4ec;
    padding: 20px;
    border-radius: 5px;
}
#tab1:checked ~ .tab-content .panel1{
    display: block;
}
#tab2:checked ~ .tab-content .panel2{
    display: block;
}
#tab3:checked ~ .tab-content .panel3{
    display: block;
}

.rating{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.rating input{
    display: none;
}

.rating label{
    font-size: 40px;
    color: #ccc;
    cursor: pointer;
    transition: .3s;
}

.rating input:checked ~ label{
    color: gold;
}
.rating label:hover, .rating label:hover~label{
    color:gold;
}
