body {
  background: #fff7f2;
  padding: 30px;
  color: #333;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

.filter-row {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.filter-row a {
  text-decoration: none;
  background: #8b5e3c;
  color: white;
  padding: 10px 18px;
  border-radius: 25px;
  transition: 0.3s;
}

.filter-row a:hover {
  background: #c07b53;
}

.team-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

.team-card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  transition: 0.4s;
}

.team-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

.team-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.role {
  font-weight: bold;
  color: #8b5e3c;
  margin: 10px 0;
}

.bio {
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;

  opacity: 0;

  transition: opacity 0.4s;
}

.team-card:hover .social-icons {
  opacity: 1;
}

.social-icons a {
  font-size: 22px;
  color: #8b5e3c;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #d67b6d;
}
@media (min-width: 768px) {
  .team-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1280px) {
  .team-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
